.containerabout{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.left{
    display: flex;
    width: 40%;
    justify-content: end;
}
.right{ 
    display: flex;
    width: 60%;
    flex-direction: column;
}
.top{
    flex: 1;
    height: 50%;
}
.bottom{
    flex: 1;
    height: 50%;
}




.box {
    width: 87.5%;
    height: 120px;
    border-radius: 30px;
    border: 1.5px solid #8BB0DB;
    display: flex;
    justify-content: center; /* จัดกึ่งกลางแนวนอน */
    align-items: center; /* จัดกึ่งกลางแนวตั้ง */
    margin: auto; /* จัดกึ่งกลางแนวนอน */
}
.containerdetail {
    display: flex;
    width: 100%;
    height: 100vh;
}

.detailleft {
    flex: 2; /* กำหนดให้ฝั่งซ้ายใช้พื้นที่มากกว่า */
    display: flex;
    flex-direction: column; /* แบ่งบนล่าง */
}

.detailright {
    flex: 1; /* กำหนดให้ฝั่งขวาใช้พื้นที่น้อยกว่า */
    display: flex;
    flex-direction: column; /* แบ่งบนล่าง */
}

.detailleft {
    justify-content: space-between; /* จัดการพื้นที่ระหว่างส่วนบนและล่าง */
}

.softwareskill {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp {
    flex: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailright {
    justify-content: space-between; /* จัดการพื้นที่ระหว่างส่วนบนและล่าง */
}

.hardskill, .softskills {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.softwarearea{
    width: 90%;
    height: 80%;
}
.Exparea{
    width: 90%;
    height: 100%;
}

@media (max-width: 768px) {
    .containerabout {
        flex-direction: column;
        height: auto;
    }

    .left, .right {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .box {
        margin-top: 5%;
        height: 5vh;
    }

    .containerdetail {
        margin-top: 10%;
        flex-direction: column;
        height: auto;
    }

    .detailleft, .detailright {
        width: 100%;
    }

    .softwareskill, .exp, .hardskill, .softskills {
        width: 100%;
    }
}