.container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3%; 
  padding: 20px;
  height: 10vh;
}

.aboutMe, .myWork {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem; 
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  width: 248px;
  height: 36px;
  padding: 6px 46px;
  border-radius: 100px;
  border: 1px solid #000000;
  color: #8bb0db;
  background-color: transparent;
  cursor: pointer;
  transition: color 300ms ease-out, background-color 300ms ease-out, border-color 300ms ease-out; 
}

.aboutMe:hover, .myWork:hover {
  color: white; /* เปลี่ยนสีตัวอักษรเป็นสีขาว */
  background-color: #8bb0db; /* เปลี่ยนพื้นหลังเป็นสีฟ้า */
  border-color: #8bb0db; /* เปลี่ยนกรอบเป็นสีฟ้า */
}

/* Media Queries สำหรับหน้าจอขนาดเล็ก */
@media (max-width: 768px) {

  .container {
    justify-content: flex-end; /* จัดให้เนื้อหาอยู่ชิดขวา */
    gap: 10px; /* ปรับระยะห่างระหว่างปุ่มให้เหมาะสม */
  }

  .aboutMe, .myWork {
    font-size: 1rem;
    width: auto; /* ให้ปุ่มกำหนดความกว้างตามเนื้อหา */
    margin: 0; /* ลบ Margin ที่อาจทำให้ปุ่มย้ายบรรทัด */
    padding: 6px 20px; /* ปรับ Padding ให้เหมาะสม */
  }
}