/* src/components/Skill/Skill.module.css */
.container {
  width: 100%;
}

.title {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 29.05px;
  text-align: left;
}

.imgArea {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.icon {
  position: relative;
  width: 10%;
  height: 100px; /* ปรับความสูงตามต้องการ */
  margin-left: 5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease-out, background-image 0.3s ease-out;
}

.icon:hover {
  transform: scale(1.1);
}

/* Tooltip styles */
.tooltip {
  font-family: 'Inter', sans-serif; /* เพิ่มฟอนต์ที่นี่ */
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 8px;
  position: absolute;
  z-index: 1;
  bottom: 110%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Add arrow below the tooltip */
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

/* ไอคอนปกติ */
.figma {
  background-image: url('./figma.svg');
}

.group42 {
  background-image: url('./Group42.svg');
}

.group36 {
  background-image: url('./Group36.svg');
}

.procreate {
  background-image: url('./procreate.svg');
}

.group37 {
  background-image: url('./Group37.svg');
}

.unity {
  background-image: url('./unity.svg');
}

/* ไอคอนเมื่อ Hover */
.figma:hover {
  background-image: url('./figma_ani.svg');
}

.group42:hover {
  background-image: url('./Group42_ani.svg');
}

.group36:hover {
  background-image: url('./Group36_ani.svg');
}

.procreate:hover {
  background-image: url('./procreate_ani.svg');
}

.group37:hover {
  background-image: url('./Group37_ani.svg');
}

.unity:hover {
  background-image: url('./unity_ani.svg');
}

/* Media Queries */
@media (max-width: 768px) {
  .title {
    text-align: center;
  }
  .icon {
    width: 15%;
    height: 80px;
    margin-left: 3%;
  }
}