/* src/components/ImageComponent/ImageComponent.module.css */
.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centerarea {
  font-weight: 400;
  font-family: 'inter', sans-serif;
  font-size: 6rem;
  color: #8bb0db;
  width: 60%;
}

.lastname {
  text-align: end;
  position: relative;
}

@media (max-width: 768px){
  .centerarea {
    font-weight: 400;
    font-family: 'inter', sans-serif;
    font-size: 3rem;
    color: #8bb0db;
    width: 90%;
  }
  .container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

