.container{
    width: 100%;
}
.title {
    font-family: 'inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 29.05px;
    text-align: start;
}
.progressarea{
    width: 100%;
    margin-top: 2%;
}
.progress{
    width: 55%;
}

@media (max-width: 768px) {
    .progress{
        width: 72.5%;
    }
    .progressarea{
        display: flex;
        justify-content: center;
    }
    .title{
        text-align: center;
    }
    .container{
       margin-top: 5%;
    }
}