.container{
    width: auto;
    height: 80%;
    display: flex;
    justify-content: center;
}
.image{
    width: 100%;
}


@media (max-width: 768px) {
    .container {
        padding: 10px; 
        display: flex;
        align-items: start;
    }

    .image {
        max-width: 100%; 
    }
}