.container{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.image{
    max-width: 100%;
}


@media (max-width: 768px) {
    .container {
        padding: 10px; 
        display: flex;
        justify-content: center;
        margin-top: 10%;
    }

    .image {
        max-width: 50%; 
    }
}